<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.mall.persistence.mapper.UserMapper">

    <select id="queryRoleUsers" parameterType="java.util.Map" resultType="com.star.mall.persistence.entity.User">
        select * from uc_user uu
        left join uc_role_user uru on uru.user_id_ = uu.id_
        left join uc_role ur on ur.id_ = uru.role_id_
        ${ew.customSqlSegment}
    </select>

    <select id="queryOrgUsers" parameterType="java.util.Map" resultType="com.star.mall.persistence.entity.User">
        select * from uc_user uu
        left join uc_org_user uou on uou.user_id_ = uu.id_
        left join uc_org uo on uo.id_ = uou.org_id_
        ${ew.customSqlSegment}
    </select>

</mapper>
